* {
	/*Google Fonts*/
	font-family: 'Open Sans', sans-serif;

	/*CSS Reset*/
	margin: 0;
	padding: 0
	box-sizing: border-box;
}

body {
	padding-top: 50px;
}

h1 {
	display: inline-block;
	color: blue;
	/*font-size: 10rem;*/
}

#box {
	display: inline;
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 10px solid black;
	background-color: orange;
}

#box2 {
	display: inline;
	height: 150px;
	width: 150px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 15px;
	padding-bottom: 20px;
	border: 10px solid darkgray;
}

#myButton {
	border: 2px solid #333;
	padding: 10px;
	color: black;
	background-color: darkgray;
	border-radius: 50px;
}

#container {
	display: inline;
}


/*#sidebar {
	display: inline;
	height: 80vh;
	width:  80vw;
	background-color: blue;
	widows: 100px;
	padding: 10px;
}

#content {
	display: inline-block;
	margin: 100px;
}*/